body {
    background-color: #f2f2f2;
    color: #546e7a;
}

/* Header */

header.header {
  display: block;
  background-color: #FEFEFE;
  padding: 30px 20px 10px 20px;
  border-bottom: 3px solid #C5E1A5;
}
.header h1 {
    font-size: 1.5rem;
    margin: 0;
}
.header h2 {
    font-size: 1.25rem;
    margin: 0;
}
.logo-project{
  width: 65px;
  height: 65px;
  border-radius: 35px;
  background-color: #C5E1A5;
  display: inline-block;
  position: relative;
  top:10px;
  margin-right: 20px;
}

.header-content {
  flex-direction: column;
  align-content: center;
  padding-bottom: 0px;
}
.header-content-text {
  align-content: center;
  display: inline-block;  
  padding-bottom: 20px;
}

/* Footer */
footer.footer {
  display: block;
  background-color: #FEFEFE;
  padding: 20px;
  border-top: 2px solid #C5E1A5;  
  margin-left: auto;  
  margin-right: auto;  
  text-align: center;
}
.laureat, .partenaires { 
  display: inline-block;
  vertical-align: text-top; 
  margin-right: 40px;
  margin-left: 40px;  
  text-align: left;
}
.laureat>img, .partenaires>img {
  width: 150px;
  line-height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
.laureat>img {
  margin-top: 25px;
}

/* Chiffres */
.chiffres .col {
    font-size: 24px;
}
.chiffres .col span {
    display: block;
    font-size: 48px;
    font-weight: bold;
}

/* Actions */
.actions .api p {
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (min-width: 768px) {  
  .actions .api {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
  }
}