{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="col-sm-3 col-sm-offset-5">
            <form action="{% url 'login' %}" method="post" class="form" accept-charset="utf-8">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <div class="text-center">
                        <button type="submit" class="btn">
                            {% trans 'Login' %}
                        </button>
                    </div>
                </p>
            </form>
            <div class="text-center">
                <a href="{% url 'password_reset' %}">{% trans "Retrieve password" %}</a>
            </div>
        </div>
    </div>
{% endblock %}