<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block pagetitle %}Le carrefour des innovations sociales | CGET{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="header-content container">
        <div class="logo-project"></div>
        <div class="header-content-text">
          <h1 class="light-green-text text-darken-1">Le carrefour des innovations sociales</h1>
          <h2>Mettre en commun des solutions au service des personnes et des territoires.</h2>
          <p>Site d'administration</p>
        </div>
      </div>
      <div class="container">
        <a class="btn z-depth-0 blue-grey-text blue-grey lighten-5" href="{% url 'home' %}">Accueil</a>
        <a class="btn z-depth-0 blue-grey-text blue-grey lighten-5" href="{% url 'contributors-list' %}">Les contributeurs</a>
        </ul>
      </div>
    </header>

    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>

    <footer class="footer">
      <div class="laureat">
        <p>un projet lauréat</p>
        <img src={% static 'images/logo-entrepreneure-ig.png' %} alt="Entrepreneure d'intérêt général" />
      </div>
      <div class="partenaires">
        <p>animé par</p>
        <img src={% static 'images/cget-logo.png' %} alt="Commissariat Général à l’Egalité des Territoires" />
        <img src={% static 'images/fonda-logo.png' %} alt="La fonda : fabrique associative" />
      </div>
    </footer>
  </body>
</html>
