{% extends "base.html" %}

{% block content %}
  <p>Bienvenue sur le site des <strong>données du carrefour de l'innovation sociale</strong>. Vous trouverez ici la documentation sur l'API des projets d'innovation sociale.</p>
  <div class="chiffres row">
    <p class="projetcts col s6 center-align">
      <span class="light-green-text text-darken-1">{{projects_count}}</span> projets
    </p>
    <p class="contributors col s6 center-align">
      <span class="light-green-text text-darken-1">{{contributors_count}}</span> contributeurs
    </p>
  </div>
  <div class="actions center-align">
    <div class="search">
      <a class="btn light-green darken-1" href="https://mc-cget.surge.sh/" target="_blank" alt="API">
      Rechercher des projets</a>
    </div>
    <div class="api flex">
      <p>
        <a class="btn blue-grey" href="{% url 'api-docs' %}" target="_blank" alt="API">Documentation de l'API</a>
      </p>
      <p>
        {% if user.is_authenticated %}
        <a class="btn blue-grey" href="{% url 'admin:index' %}" alt="Administration">
          Administration
        </a>
        {% else %}
        <a class="btn blue-grey" href="{% url 'login' %}" alt="Se connecter">
          Se connecter
        </a>
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
