{% extends "base.html" %}

{% block content %}
<h2>Les contributeurs</h2>
<ul class="collection"> 
    {% for contributor in publisher_list %}
    <li class="collection-item">
        <a href="{{contributor.link}}" target="_blank">
            {{contributor.name }}
        </a>
        <span class="badge" title="Nombre de projets">{{ contributor.projects_count }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
